---
import Footer from "@/components/elements/footer";
import Navbar from "@/components/elements/navbar";
import config from "../../../explainer.config";
import "../../assets/css/global.css";
import { ClientRouter } from "astro:transitions";

const { title = config.meta.title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/logo_ferriskey.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={config.meta.description} />
    <meta name="image" content={config.meta.thumbnail} />

    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:description" content={config.meta.description} />
    <meta property="og:image" content={config.meta.thumbnail} />
    <meta property="og:image:alt" content={config.meta.title} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <ClientRouter />

    <script>
      const root = window.document.documentElement;
      const theme = localStorage.getItem("theme") ?? "system";

      if (theme === "system") {
        const systemTheme = window.matchMedia("(prefers-color-scheme: dark)")
          .matches
          ? "dark"
          : "light";
        root.classList.add(systemTheme);
      } else {
        root.classList.add(theme);
      }
    </script>
  </head>
  <body class="relative min-h-screen">
    <div class="min-h-screen flex flex-col">
      <Navbar client:only />
      <slot />
      <Footer client:only />
    </div>
  </body>
</html>
